<!DOCTYPE html>
<html lang="en">
{% import "bootstrap/wtf.html" as wtf %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mechanical CAD Contracting</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/caliper-favicon-32.png" rel="icon">
  <link href="static/img/caliper-favicon-32.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>Mechanical CAD Contracting</h1>
      <h2>Expert Part Design From Start To Finish</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">MCC</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#expertise">Expertise</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <li><a class="nav-link scrollto " href="#testimonials">Testimonials</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
            <li><a class="nav-link scrollto " href="#certifications">Certifications</a></li>
<!--          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>-->
<!--            <ul>-->
<!--              <li><a href="#">Drop Down 1</a></li>-->
<!--              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>-->
<!--                <ul>-->
<!--                  <li><a href="#">Deep Drop Down 1</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 2</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 3</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 4</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 5</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="#">Drop Down 2</a></li>-->
<!--              <li><a href="#">Drop Down 3</a></li>-->
<!--              <li><a href="#">Drop Down 4</a></li>-->
<!--            </ul>-->
<!--          </li>-->
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex align-items-center">
<!--        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>-->
<!--        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>-->
<!--        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>-->
        <a href="https://www.linkedin.com/in/james-musser-143236119" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="expertise" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Expertise</h2>
        </div>

        <div class="row content expertise" >
          <div class="col-lg-8" >
            <ul>
              <li><h4><i class="ri-check-double-line"></i> 16 years of mechanical and industrial engineering experience</h4></li>
              <li><h4><i class="ri-check-double-line"></i> CSWE Expert level SolidWorks certification (highest available)</h4></li>
              <li><h4><i class="ri-check-double-line"></i> DFM/DFA Experience with plastic/rubber injection molding, sheet metal, machining, closed die forging, and rapid prototyping</h4></li>
            </ul>
          </div>
<!--          <div class="col-lg-6 pt-4 pt-lg-0">-->
<!--            <p>-->
<!--              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate-->
<!--              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--              culpa qui officia deserunt mollit anim id est laborum.-->
<!--            </p>-->
<!--            <a href="#" class="btn-learn-more">Learn More</a>-->
<!--          </div>-->
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
            <p>Years in Business</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="73" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients</p>
          </div>

          <div class="col-lg-4 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="205" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container-fluid">

        <div class="section-title">
          <h2>Services</h2>
<!--          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-2 col-md-6 col-sm-10 icon-box">
              <div class="icon"><object data="static/img/solidworks-svgrepo-com.svg" width="60" height="60"></object></div>
              <h4 class="title" >SolidWorks 3D Modeling</h4>
              <p class="description" >Expert level 3D modeling and detailing services. Experience with all advanced forms of 3D modeling, including surfacing, sheet metal, mold tools, and weldments</p>

          </div>


          <div class="col-lg-2 col-md-6 col-sm-10 icon-box">
              <div class="icon"><object data="static/img/4989513_belt_pulley_automobile_machine_part_motor_car.svg" width="60" height="60"></object></div>
              <h4 class="title" >Mechanical Design</h4>
              <p class="description" >Experience at every stage of the design process - starting from napkin sketches, creating concept designs, working through prototype iterations, to full production design</p>

          </div>


           <div class="col-lg-2 col-md-6 col-sm-10 icon-box">
              <div class="icon"><object data="static/img/3625701_automation_cut_industry_laser_machine_icon.svg" width="60" height="60"></object></div>
              <h4 class="title" >DFM Consultations</h4>
              <p class="description" >Experience in providing DFM consultations for part designs to be manufactured with plastic/rubber injection molding, sheet metal, machining, and closed die forging</p>

          </div>


          <div class="col-lg-2 col-md-6 col-sm-10 icon-box">
              <div class="icon"><object data="static/img/3d_printer.svg" width="60" height="60"></object></div>
              <h4 class="title" >3D Printing</h4>
              <p class="description" >FDM printing services for quick turn around is available for parts fitting within 9.8" x 8.3" x 8.3" build volume. 20% discount off of comparable Xometry quote</p>

          </div>


        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide" data-swiper-autoplay="6000">
              <div class="testimonial-item">
                <p>
James is the cream of the crop when it comes to professionalism, talent and care. I highly recommend him.
                </p>
                <h3>Robert M.</h3>
              </div>
            </div><!-- End testimonial item -->


                        <div class="swiper-slide" data-swiper-autoplay="13000">
              <div class="testimonial-item">
                <p>
It was a great experience working with James. He aligned quickly with our project plan and goals to produce a render for industrial processing equipment. His quality of work and communication was top notch, and he supported multiple sprints providing continuous feedback and advisory to ensure the output was to our need and expectations as his customer. 10/10 experience.
                </p>
                <h3>Evan B.</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide" data-swiper-autoplay="6000">
              <div class="testimonial-item">
                <p>
Exceptional work from James. A true professional for modeling and drawings.
                </p>
                <h3>Eduardo S.</h3>
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide" data-swiper-autoplay="7000">
              <div class="testimonial-item">
                <p>
James is a true professional and did an outstanding job. We look forward to working with him again in the future.
                </p>
                <h3>Ron C.</h3>
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide" data-swiper-autoplay="7000">
              <div class="testimonial-item">
                <p>
James is top notch! Great with communication, advice and work ethic. Completed our projects under budget and within time frames.
                </p>
                <h3>Logan M.</h3>
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide" data-swiper-autoplay="7000">
              <div class="testimonial-item">
                <p>
I'm very pleased with the project. Very knowledgeable and offered great ideas to help along the way. Highly recommend.
                </p>
                <h3>Joel F.</h3>
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide" data-swiper-autoplay="16000">
              <div class="testimonial-item">
                <p>
James was able to swiftly jump onboard with our project and understand exactly what it was we were asking him to do for us. He clearly understands what he is doing when it comes to CAD work and was able to quickly iterate and complete the design that we wanted him to deliver. Very effective communicator and was not afraid to make suggestions that ended up being very beneficial to the project, as well as to receive feedback and handle it in a contructive and positive manner. I would definitely recommend James to anyone looking for a professional to assist them with their engineering design projects!
                </p>
                <h3>Grant H.</h3>
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide" data-swiper-autoplay="7000">
              <div class="testimonial-item">
                <p>
James will undoubtedly make your job easier, I feel lucky to have found him and hope to work with him again in the near future.
                </p>
                <h3>Maryann M.</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide" data-swiper-autoplay="10000">
              <div class="testimonial-item">
                <p>
James Musser was extremely attentive to the particular requirements of my project. He’s also up to date with the current technology pertaining to injection molding plastics. I hope to work with him again in the future.
                </p>
                <h3>Jim W.</h3>
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide" data-swiper-autoplay="10000">
              <div class="testimonial-item">
                <p>
James provided excellent communication and outstanding deliverable's. He is extremely professional and his work is on point. I highly recommend him for CAD and modeling skills and will call upon him as a resource again.
                </p>
                <h3>Eduardo S.</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide" data-swiper-autoplay="7000">
              <div class="testimonial-item">
                <p>
James is an exceptional person to work with. I am constantly impressed by his professionalism, work ethic, and quality. Truly a pleasure, every time.
                </p>
                <h3>Robert M.</h3>
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide" data-swiper-autoplay="14000">
              <div class="testimonial-item">
                <p>
James is the best freelancer I have worked with on Upwork. He injected energy into my project and moved things forward. His knowledge of designing a product for manufacturing via injection molding is great and he has an unstoppable positive attitude about resolving issues as they come up. His communications is great, very precise and prompt.

                </p>
                <h3>Jacob R.</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide" data-swiper-autoplay="7000">
              <div class="testimonial-item">
                <p>
James was AMAZING to work with. Got everything done in a timely manner while still paying attention to the smallest details. 100% recommend.
                </p>
                <h3>Suntej S.</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide" data-swiper-autoplay="14000">
              <div class="testimonial-item">
                <p>
Working with James was a pleasure. He was really easy to talk to and understood what i needed from day 1. James was able to ask all of the right questions to make sure that the project was heading the right direction from day 1. He knows his trade very well and was able to translate it in a way that helped me understand his opinions and plans. Ill definitely recommend James.
                </p>
                <h3>Yuriy A.</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide" data-swiper-autoplay="12000">
              <div class="testimonial-item">
                <p>
Loved what I was doing and believed in my product. He took my jumbled up CAD sketches and made my dream into real life. He even went farther and made sure my phone case design fit to the apple guidelines. Fantastic job. Definitely planning on hiring him again.
                </p>
                <h3>Jack F.</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide" data-swiper-autoplay="10000">
              <div class="testimonial-item">
                <p>
We hired James and he hit the ground running. Did a great job for us and completed all that was asked of him in a very timely fashion. His communication and follow-up was excellent. Would use him for a future project if need arises.
                </p>
                <h3>Rusty S.</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide" data-swiper-autoplay="10000">
              <div class="testimonial-item">
                <p>
Outstanding work! It has been a pleasure to work with James. He is always available when you need him, his communication and problem solving skills are over the top. I highly recommend him!
                </p>
                <h3>Lucian P.</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide" data-swiper-autoplay="10000">
              <div class="testimonial-item">
                <p>
James, completed project in a timely manner and provided me with exactly what I requested. Exceeding my expectations; I would absolutely hire him again for future projects. Top Notch Freelancer!!
                </p>
                <h3>Tommy D.</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide" data-swiper-autoplay="15000">
              <div class="testimonial-item">
                <p>
Working with James was an absolute joy! He's extremely pleasant and easy to communicate with. What I appreciated a lot, was his enthusiasm, and how it made what could've been an otherwise grueling process an exciting one! He showed extraordinary skills of adaptability and patience. He's very hardworking and went above and beyond often using his personal time to contribute to the project. I HIGHLY recommend James.
                </p>
                <h3>Mimi F.</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide" data-swiper-autoplay="7000">
              <div class="testimonial-item">
                <p>
James is a true professional. He was able to complete my project with both speed and precision. James is extremely easy to work with and I will gladly work with him again.
                </p>
                <h3>Elijah R.</h3>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->



    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>While the overwhelming majority of projects are covered by NDA's, here are some sample renders for the projects I'm at liberty to discuss:</p>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/portfolio/Plant_Assembly_Render_1_(12-27-23)_-_sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>New Plant Assembly</h4>
              <a href="static/img/portfolio/Plant_Assembly_Render_1_(12-27-23).webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Assembly render for a new hydrogen energy plant layout"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/portfolio/Plant_Assembly_Render_2_(12-27-23)_-_sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>New Plant Assembly</h4>
              <a href="static/img/portfolio/Plant_Assembly_Render_2_(12-27-23).webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Assembly render for a new hydrogen energy plant layout"><i class="bx bx-plus"></i></a>
            </div>
          </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/portfolio/MS101009_-_Full_Assembly_Render_1_(10-29-17)_-_sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Air Flow Test Equipment</h4>
              <a href="static/img/portfolio/MS101009_-_Full_Assembly_Render_1_(10-29-17)_-_1080p.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Air flow test equipment assembly render"><i class="bx bx-plus"></i></a>
            </div>
          </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/portfolio/MS101009_-_Full_Assembly_Render_2_(10-29-17)_-_sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Air Flow Test Equipment</h4>
              <a href="static/img/portfolio/MS101009_-_Full_Assembly_Render_2_(10-29-17)_-_1080p.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Air flow test equipment assembly render"><i class="bx bx-plus"></i></a>
            </div>
          </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/portfolio/Isometric_Assembly_Render_-_sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Concrete Mold Assembly</h4>
              <a href="static/img/portfolio/Isometric_Assembly_Render.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Concrete mold assembly render for trade show visualization and 3D printed parts"><i class="bx bx-plus"></i></a>
            </div>
          </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/portfolio/Exploded_Assembly_-_Isometric_Render_-_sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Concrete Mold Assembly</h4>
              <a href="static/img/portfolio/Exploded_Assembly_-_Isometric_Render.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Concrete mold assembly render for trade show visualization and 3D printed parts"><i class="bx bx-plus"></i></a>
            </div>
          </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/portfolio/Curved_Design_-_Render_1_-_sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Ergonomic Paint Roller</h4>
              <a href="static/img/portfolio/Curved_Design_-_Render_1.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Custom ergonomic paint roller design for inventor"><i class="bx bx-plus"></i></a>
            </div>
          </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/portfolio/Curved_Design_-_Render_2_-_sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Ergonomic Paint Roller</h4>
              <a href="static/img/portfolio/Curved_Design_-_Render_2.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Custom ergonomic paint roller design for inventor"><i class="bx bx-plus"></i></a>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Portfolio Section -->

<section id="certifications" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Certifications</h2>
        </div>

        <div class="row certification-container">

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/certifications/sample/Gannon University 12-11-11-1-sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>BSME</h4>
              <a href="static/img/certifications/full-size/Gannon University 12-11-11-1.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Bachelor's degree in Mechanical Engineering from Gannon University"><i class="bx bx-plus"></i></a>
            </div>
          </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/certifications/sample/CSWE_sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>CSWE</h4>
              <a href="static/img/certifications/full-size/CSWE.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Certified SolidWorks Expert (highest certification available)"><i class="bx bx-plus"></i></a>
            </div>
          </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/certifications/sample/SHEET_sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>CSWP-A Sheet Metal</h4>
              <a href="static/img/certifications/full-size/SHEET.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Certified SolidWorks Professional - Advanced Sheet Metal"><i class="bx bx-plus"></i></a>
            </div>
          </div>

             <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/certifications/sample/SURFACING_sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>CSWP-A Surfacing</h4>
              <a href="static/img/certifications/full-size/SURFACING.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Certified SolidWorks Professional - Advanced Surfacing"><i class="bx bx-plus"></i></a>
            </div>
          </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/certifications/sample/WELDMENTS_sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>CSWP-A Weldments</h4>
              <a href="static/img/certifications/full-size/WELDMENTS.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Certified SolidWorks Professional - Advanced Weldments"><i class="bx bx-plus"></i></a>
            </div>
          </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/certifications/sample/MOLD_sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>CSWP-A Mold Tools</h4>
              <a href="static/img/certifications/full-size/MOLD.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Certified SolidWorks Professional - Advanced Mold Tools"><i class="bx bx-plus"></i></a>
            </div>
          </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/certifications/sample/DRAWING_sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>CSWP-A Drawing Tools</h4>
              <a href="static/img/certifications/full-size/DRAWING.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Certified SolidWorks Professional - Advanced Drawing Tools"><i class="bx bx-plus"></i></a>
            </div>
          </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/certifications/sample/CSWP_sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>CSWP</h4>
              <a href="static/img/certifications/full-size/CSWP.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Certified SolidWorks Professional"><i class="bx bx-plus"></i></a>
            </div>
          </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="static/img/certifications/sample/Fundamentals of Design for Plastic Injection Molding - Certificate - sample.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Injection Molding Design</h4>
              <a href="static/img/certifications/full-size/Fundamentals of Design for Plastic Injection Molding - Certificate - full size.webp" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Fundamentals of Design for Plastic Injection Molding, Engineer's Edge"><i class="bx bx-plus"></i></a>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Certifications Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Interested to hear more, or is there a project that you'd like to discuss? Please feel free to reach out with the contact form below (or give me a call) and I'll respond back as soon as I can. Thanks!</p>
        </div>


        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="location">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Pittsburgh, PA</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>jm@mechcadcontracting.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>570-259-9275</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">


              {% block content %}
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
              <p style="text-align: center; color: red;">{{ message }}</p>
          {% endfor %}
      {% endif %}
  {% endwith %}


      {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "success"}, id="Contact_Form")}}

                {% endblock %}

<!--            <form action="forms/contact.php" method="post" role="form" class="php-email-form">-->
<!--              <div class="row">-->
<!--                <div class="col-md-6 form-group">-->
<!--                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>-->
<!--                </div>-->
<!--                <div class="col-md-6 form-group mt-3 mt-md-0">-->
<!--                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="form-group mt-3">-->
<!--                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>-->
<!--              </div>-->
<!--                <div class="form-group d-none">-->
<!--<input type="text" class="form-control" name="company">-->
<!--<div class="validate"></div>-->
</div>

<!--              <div class="form-group mt-3">-->
<!--                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>-->
<!--              </div>-->
<!--              <div class="my-3">-->
<!--                <div class="loading">Loading</div>-->
<!--                <div class="error-message"></div>-->
<!--                <div class="sent-message">Your message has been sent. Thank you!</div>-->
<!--              </div>-->
<!--              <div class="text-center"><button type="submit">Send Message</button></div>-->
<!--            </form>-->

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Mechanical CAD Contracting, LLC</span></strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>